*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
   
}
.parent{
   min-height: 100vh;
   width: 100%;
   background-color: black;
   padding: 30px;
    display: flex;
   flex-wrap: wrap;     /* allows items to go to next line */
   gap: 20px;
   
}
.card{
    height: 330px;
    width: 280px;
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;

}
.card .top{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 30px;
  
}
.top img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px #dadada;
    padding: 2px;

}

.top button{
   display: flex;
   align-items: center;
   padding: 4px 8px;
   border: 1px solid #fafafa;
   font-size: 13px;
    border-radius: 9px;
    gap: 4px;
    background-color: transparent;
    color: grey;
   
}
.center{

    border-radius: 5px;

}
.center h3{
    font-size: 18px;
    font-weight: 700;

}
.center h3 span{
    font-size: 10px;
    font-weight: 400;
    color: rgb(158, 149, 149);
}
.center h2{
    font-size:20px ;
    font-weight: 500;

}
.center .tag{
    display: flex;
    gap: 10px;
    margin: 10px;
   

}
.center .tag h4{
    background-color: #bcb4b4;
    font-size: 12px;
    
    padding: 3px 6px;
    border-radius: 2px;
    font-weight: 550;



}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top:1px solid #b1b1b1;
    padding-top: 15px;

}
.bottom button{
    background-color: #111;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px;
    color: white;
    column-width: 600;

}

.bottom h3{
    font-size: 18px;

}
.bottom p{
    color: #b1b1b1;
    font-size: 12px;
    
}
